body {
    margin: 0;
}

.currentPlayer {
    display: flex;
    justify-content: center;
}

.playerImage {
    height: 80px;
    width: 80px;
    margin-left: 32px;
}


.content {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}


table {
    border-collapse: collapse;
}

tr {
    width: 399px;
}

tr:first-child td {
    border-top: 0;
}

tr td:first-child {
    border-left: 0;
}

tr:last-child td {
    border-bottom: 0;
}

tr td:last-child {
    border-right: 0;
}

td {
    position: relative;
    width: 133px;
    height: 133px;
    border: 5px solid rgb(0, 0, 0);
    cursor: pointer;
}

td:hover {
    background-color: rgba(53, 38, 184, 0.2);
}

.shape {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 26.5px;
    left: 26.5px;
}

.d-none {
    display: none;
}

.endScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.winLine {
    height: 15px;
    width: 300px;
    background-color: red;
    
}

.horLineFirstRow {
    position: absolute;
    z-index: 1;
    top: 240px;
    left: 570px;
}

.horLineSecondRow {
    position: absolute;
    z-index: 1;
    top: 380px;
    left: 570px;
}

.horLineLastRow {
    position: absolute;
    z-index: 1;
    top: 520px;
    left: 570px;
}

.vertLineFirstCol {
    position: absolute;
    z-index: 1;
    top: 380px;
    left: 420px;
    transform: rotate(90deg);
}

.vertLineSecondCol {
    position: absolute;
    z-index: 1;
    top: 380px;
    left: 560px;
    transform: rotate(90deg);
}

.vertLineLastCol {
    position: absolute;
    z-index: 1;
    top: 380px;
    left: 700px;
    transform: rotate(90deg);
}